* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #4B5959;
}

/* Header + Navbar Selectors */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3% 3.5% 1.3% 0;
    background-color: #242E35;
    color: #242E35;
}

h1 {
    font-size: 200%;
    background-color: #4AFFC2;
    padding: 0.3% 1% 0.3% 3.5%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none; 
}

nav a {
    color: #4AFFC2;
    text-decoration: none;
    
}

nav a:hover {
    color: #fff;
}

/* Main Content Selectors */
main {
    display: flex;
    flex-direction: column;
}

section {
    justify-content: space-between;
    align-items: flex-start;
    padding: 1%;
}

h2 {
    font-size: 150%;
    padding: 0 0 0 0;
    color: #4AFFC2;  
}

p {
    color: #e9e9e9;
}

/* Footer Selectors */
footer {
    display: flex;
    justify-content: center;
    padding: 2%;
}

@media screen and (max-width: 530px) {
    header {
        flex-direction: column;
    }
}